#player-cards {
    height: 152px;
    margin-top: 30px;
    text-align: center;
}

#house-cards {
    height: 152px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    margin-right: 10px;
}

.hiddenCard {
    display: none;
}

.cash-out {
    display: none;
}

.hiddenContainer {
    display: none;
}
